.nav2{
    min-width: 100vh;
}

.btn1, .delete-btn1{
   width: 100%;
   border:2px solid black;
   border-radius: 5px;
   padding: 10px 30px;
   color: white;
   display: block;
   text-align: center;
   cursor: pointer;
   font-size: 20px;
   margin-top: 10px;
}

.btn1{
    background-color:blue;

}
.btn1:hover{
    background-color: darkblue;
}
.delete-btn1{
    background-color:red;

}
.delete-btn1:hover{
    background-color: darkred;
}

.message{
    margin: 5px 0;
    width:100% ;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-color: red;
    color: white;
    font-size: 20px;
}
.form-container{
    min-width: 100vh;
    background:rgba(0,0,0,0.7)url(./images/momos1.jpg);
    background-size: cover;
    background-blend-mode: darken ;
    /* background-color: rgb(251, 243, 243); */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.form-container form{
    padding: 20px;
    background-color:rgb(225, 222, 222);
    box-shadow:var(--box-shadow);
    text-align: center;
    width:500px;
    border-radius: 5px;
}

.form-container form h3{
    margin-bottom: 10px;
    font-size: 30px;
    color: black;

}

.form-container form .box{
    width: 100%;
    border-radius: 5px;
    padding:12px 14px;
    font-size: 18px;
    color:var(--black);
    margin:10px 0 ;
    background-color:whitesmoke;
}

.form-container form p a{
    color:red;
}

.form-container form p a:hover{
    text-decoration: underline;
}

.container1{
    min-width: 100vh;
    background-color:rgb(251, 243, 243);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

}


.container1 .profile{
    padding: 20px;
    background-color:rgb(227, 224, 224);
    box-shadow:var(--box-shadow);
    text-align: center;
    width:400px;
    border-radius: 5px;
}

.container1 .profile img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 5px;
}

.container1 .profile h3{
   margin:5px 0;
   font-size: 20px;
   color: black;

}

.container1 .profile p{
   margin-top: 20px;
   color: black;
   font-size: 20px;
}

.container1 .profile p a{
    color: red;
    text-decoration: none;
}

.container1 .profile p a:hover{
    text-decoration: underline;
}

.container2{
    min-width: 100vh;
}

.momo{
    padding-top: 23px;
    padding-bottom: 5px;
    background: linear-gradient(60deg,blue,red,yellow);
    min-width: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-items: center;
    gap: 30px;
    
}


